hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

body {
  color: rgb(245, 239, 239);
  background-color: #121212;
  --color-primary: wheat;
  --color-secondary: #2f372f;
}
.site-header {
  background-color: var(--color-secondary);
  border-top: unset;
  border-bottom: unset;
}

.site-title,
.site-title:visited {
  color: var(--color-primary);
  font-family: "Cardinal", sans-serif;
  font-family: "Cardinal Alternate", sans-serif;
}

.post-title {
  font-family: "Cardinal Alternate", sans-serif;
}

.site-footer {
  background-color: #2f372f;
  border-top: unset;
}

.page-link {
  color: inherit !important;
}

.post-title {
  color: var(--color-primary);
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.post-content {
  font-family: "SUSE Mono", monospace;
}
.post-tags {
  margin-left: auto;
}

.post-tag {
  color: #cde;
  text-decoration: none;
  border-radius: 50px;
  padding: 0.1em 0.5em;
  background-color: var(--color-secondary);
}

/* Metadata styles */
.post-meta-extra {
  margin-top: 0.5em;
  font-size: 0.95em;
  color: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: space-between;
}
.post-meta-extra .post-rating {
  margin-right: 1em;
  font-weight: 600;
}
.post-meta-extra .post-tags .tag {
  color: #cde;
  text-decoration: none;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.08);
}
.post-meta-extra .post-tags .tag:hover {
  color: #fff;
}

.post-link {
  display: block;
  font-size: 24px;
  color: var(--color-primary);
}

.post-link:visited {
  color: var(--color-primary) !important;
  filter: brightness(90%) saturate(200%);
}

.post-link:hover {
  text-decoration: underline;
}
