---
layout: default
---

<link
  rel="stylesheet"
  type="text/css"
  href="{{ '/css/override.css' | relative_url }}"
/>
<article class="post h-entry">
  <header class="post-header">
    <h1 class="post-title p-name">{{ page.title | escape }}</h1>

    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%} {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %} {%- if author -%}
      ·
      <a class="p-author h-card" href="{{ '/about/' | relative_url }}">
        <span class="p-name">{{ author.name }}</span>
      </a>
      {%- endif -%}
    </p>

    {% if page.rating or page.tags %}
    <div
      class="post-meta-extra"
      {%
      if
      page.tags
      %}
      itemprop="keywords"
      {%
      endif
      %}
    >
      {% if page.rating %}
      <span class="post-rating">
        {% assign rating_num = page.rating | plus: 0 %} {% assign empty_rating =
        4 | minus: rating_num %} {% for i in (1..rating_num) %} 🟢{% endfor %}
        {% for i in (1..empty_rating) %} ⚪️{% endfor %}
      </span>
      {% endif %} {% if page.tags %}
      <span class="post-tags"
        >{% for tag in page.tags %}
        <a href="{{ '/tags/' | append: tag | relative_url }}" class="post-tag"
          >{{ tag }}</a
        >{% unless forloop.last %} {% endunless %} {% endfor %}
      </span>
      {% endif %}
    </div>
    {% endif %}
  </header>

  <!-- <div class="share-links">{% include sharelinks.html %}</div> -->

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }} {% include navlinks.html %}
  </div>

  {% assign wm = site.data.webmentions[page.slug] %} {% if wm and wm.size > 0 %}
  <section class="webmentions">
    <h2>Collegamenti dal Web</h2>
    {% for mention in wm %}
    <article class="h-cite webmention">
      <header>
        {% if mention.author.photo %}
        <img
          class="u-photo"
          src="{{ mention.author.photo }}"
          alt="{{ mention.author.name }}"
        />
        {% endif %}
        <a
          class="p-author h-card"
          href="{{ mention.author.url | default: mention.source }}"
        >
          {{ mention.author.name | default: mention.source }}
        </a>
        · {% if mention.published %}
        <time class="dt-published" datetime="{{ mention.published }}">
          {{ mention.published | date: "%-d %B %Y" }}
        </time>
        {% endif %}
      </header>
      {% if mention.content %}
      <div class="p-content">{{ mention.content }}</div>
      {% endif %}
      <p>
        <a class="u-url" href="{{ mention.source }}">Vedi il post originale</a>
      </p>
    </article>
    {% endfor %}
  </section>
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
